# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
runThreeBody.mexw64
BegStatue00.mat
ThreeBodyFractal00.fig
ThreeBodyFractal00.png
*.fig
*.png
*.mexw64
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/cache-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/codemodel-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cache-v2-ca61ef887ecd8652b3eb.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/cmakeFiles-v1-d5010aad58ca7532a7f9.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/codemodel-v2-efc4ee04b0da5e3921c2.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/directory-.-Debug-d0094a50bb2071803777.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/index-2022-02-21T03-13-26-0137.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev/target-SimulationStaticLib-Debug-0cd9322bc7b6eb5d85b2.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/cache-v2-ca61ef887ecd8652b3eb.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-d5010aad58ca7532a7f9.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-02f6f8643c7d36e54e65.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2022-02-21T03-13-27-0999.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-SimulationStaticLib-Debug-40841771f820786efe91.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/build.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/cmake_install.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeCache.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeCache.txt.prev
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeSystem.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/cmake.check_cache
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/CMakeOutput.log
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/rules.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/TargetDirectories.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/qtcsettings.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/query/cache-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/query/cmakeFiles-v1
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/query/codemodel-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/cache-v2-cd8c611232764000d391.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/cmakeFiles-v1-1b34a7e6a7dcc02617cd.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/codemodel-v2-39f9450e7d0983cdb622.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/index-2022-02-21T03-21-38-0268.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.cmake/api/v1/reply/target-SimulationStaticLib-Release-a35de5cef20dd70da400.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.ninja_deps
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/.ninja_log
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/build.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/cmake_install.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeCache.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/3.21.1/CMakeSystem.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/cmake.check_cache
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/CMakeOutput.log
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/rules.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/CMakeFiles/TargetDirectories.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/qtcsettings.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Release/Testing/Temporary/LastTest.log
SimulationStaticLib/CMakeLists.txt.user
