# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
runThreeBody.mexw64
BegStatue00.mat
ThreeBodyFractal00.fig
ThreeBodyFractal00.png
*.fig
*.png
*.mexw64
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/cache-v2-ca61ef887ecd8652b3eb.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-108d79332dc9756b676b.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/cache-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/query/codemodel-v2
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-8f1977f2922e1a008046.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2022-02-21T03-09-45-0190.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-SimulationStaticLib-Debug-fa3aa6e6611198f87710.json
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/build.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/cmake_install.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeCache.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CMakeSystem.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/cmake.check_cache
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/CMakeOutput.log
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/rules.ninja
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/CMakeFiles/TargetDirectories.txt
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/qtcsettings.cmake
build-SimulationStaticLib-Desktop_Qt_6_1_0_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
SimulationStaticLib/CMakeLists.txt.user
